<body>
  <h1>Elite Four Trainers</h1>
  <ul>
    <% eliteFourTrainers.forEach(eliteFour => { %>
      <li>
				<%= eliteFour.name %> 
				- 
				<%= eliteFour.typeSpecialty%>

        <%= eliteFour.pokemon %>

    
			</li>
    <% }) %>
  </ul>
</body>