<body>
  <h1>Elite Four Trainers</h1>
  <ul>
    <% eliteFourTrainers.forEach(eliteFour => { %>
      <li>
				<%= eliteFourTrainers.name %> 
				- 
				<%= eliteFourTrainers.typeSpecialty%>

        <%= eliteFourTrainers.pokemon %>

    
			</li>
    <% }) %>
  </ul>
</body>